.shopTitleContainer {
    margin-top: 10rem;
    padding: 10rem 0;
}

.shopTitleContainer h1 {
    font-size: 12rem;
}

.shopTitleContainer h2, .shopTitleContainer h1 {
    font-family: var(--LilitaOne);
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}
