.aboutBodyContainer {
    display: flex;
    flex-direction: column;
    padding: 0 3vw;
    min-height: 100vh;
    margin-bottom: 8rem;
}

.leftText {
    align-self: flex-start; /* Optional, if you want to ensure left alignment */
}

.rightText {
    align-self: flex-end; /* This aligns the element to the right side of the container */
}

.bottomText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomText h1 {
    font-weight: bold;
    font-size: 8rem;
    margin: 4rem 0 1rem 0;
    padding: 0
}

.bottomText p {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 30vw;
}
