.whoWeAreTextContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 1rem;
    width: 30vw;
}

.whoWeAreMainText {
    font-weight: bold;
    font-size: 5rem;
}

.whoWeAreSubText {
    font-size: 2rem;
    line-height: 1.5;
}